{% extends 'cutter/base.html' %}

{% block title %}
{{ object.shortcode }} | {{ block.super }}
{% endblock title %}



{% block content %}
<div style='align-text:center; width:800px; margin: 0 auto'>
    <h3 class="cover-heading">Success!</h3>
    <p>{{ object.url }}</p>
    <p>Count: {{ object.clickevent.count }}</p>
    <p><a  class="btn btn-primary btn-link" href="{{ object.get_short_url }}">{{ object.get_short_url }}</a></p>
    <a class="btn btn-info" href="/">+new</a>
</div>
{% endblock content %}
